.PageContainer-Page2{
    background: #00051F;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    
}

@media (orientation: portrait) {
    .MainContiner{
        width: 100%;
        flex-direction: column;
        display: flex;
        height: 100%;
        margin-top: 1%;
    }

    .PageContainer-Page2 .Container{
        width: 100%;
        height: 77vh;
        overflow-x: hidden;
    }

    .PageContainer-Page2 .CustomInput{
        min-width: 30%;
    }
    
    .PageContainer-Page2 .ToggleGroup{
        min-width: 90%;
    }

    .ToggleGroup2{
        min-width: 90%;
    }

    .CustomInput2 {
        flex-grow: 1;
        background-color: gray;
        margin-right: 2%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        min-width: 30%;
    }    

    .Folders{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    
    .BottomBanner{
        background-color: #00051F;
        height: 50px;
        width: 100%;
        position: sticky;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0;
    }

    .Circle{
        width: 6%;
        height:65%;
        border-radius: 100%;
        border: 1px solid #fff;
    }

    .Folder{
        margin-left: 2%;
        height: 100%;
        width: 100%;
        background-image: url("../Images/Album.svg");
        background-color: gray;
        border:none;
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: fill;
        border-radius: 10%;
    }

    .FolderLable{
        margin-left: 5%;
        margin-top: 5%;
    }

    .FolderHolder{
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        height: 40%;
        min-width: 40%;
        justify-content: center;
        margin-bottom: 5%;
    }

    .FolderHolder2{
        display: flex;
        flex-direction: column;
        min-width: 25%;
        margin-left: 5%;
    }

    .AllFolders{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 60%; 
    }

    .Folder1{
        margin-right: 1%;
        margin-bottom: 1%;
        height:50%;
        width: 49%;
        background-color: gray;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .FolderTxt{
        font-size: 20px;
    }
    .Expand{
        margin-top: -110px;
        margin-left: 40%;
        width: 20%;
        height: 30%;
        background-image: url('../Images/ExpandInverte.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: fill;

    }

}

@media (orientation: landscape)  {
    .MainContiner{
        width: 60%;
        flex-direction: column;
        display: flex;
        height: 100%;
        margin-top: 5px;
    }

    .PageContainer-Page2 .Container{
        width: 100%;
        height: 85vh;
        overflow-x: hidden;
    }

    .PageContainer-Page2 .CustomInput{
        min-width: 20%;
    }

    .PageContainer-Page2 .ToggleGroup{
        min-width: 95%;
    }

    .ToggleGroup2{
        min-width: 95%;
    }

    .CustomInput2 {
        flex-grow: 1;
        background-color: gray;
        margin-right: 2%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        min-width: 20%;
    }
    

    .Folders{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        margin-right: 1%;
    }

    .BottomBanner{
        display: none;
    }
    .Folder{
        margin-left: 2%;
        height: 60%;
        min-width: 90%;
        background-image: url("../Images/Album.svg");
        background-color: gray;
        border:none;
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: fill;
        border-radius: 10%;
    }

    .FolderLable{
        margin-left: 5%;
        margin-top: 5%;
    }

    .FolderHolder{
        display: flex;
        flex-direction: column;
        height: 40%;
        min-width: 25%;
    }

    .FolderHolder2{
        display: flex;
        flex-direction: column;
        min-width: 25%;
    }

    .AllFolders{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 60%;
    }

    .Folder1{
        margin-right: 1%;
        margin-bottom: 1%;
        height:50%;
        width: 49%;
        background-color: gray;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .FolderTxt{
        font-size: 20px;
    }
    .Expand{
        margin-top: -120px;
        margin-left: 40%;
        width: 20%;
        height: 30%;
        background-image: url('../Images/ExpandInverte.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: fill;

    }

} 

.Banner1{
    background: #00051F;
    display: flex;
    width:100%
}

.Banner2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: radial-gradient(circle, rgba(0,165,206,1) 50%, rgba(0,165,206,0.5) 100%);
}

.ButtonGroup{
    margin-right: 1%;
    display: flex;
    flex-direction: row;
}

.ArrowBtn{
    background-color: transparent;
    display: flex;
    min-height: 100%;
    border-radius: 100%;
}

.Arrow{
    border-radius: 100%;
    width: 35px;
    min-height: 50%;
    background-image: url("../Images/ArrowRight.svg");
    background-position:center;
    background-size: fill;
    background-repeat: no-repeat;
    background-color: #00ABD5;
    border:none;
}

.ToggleGroup2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #00051F;
    height: 10%;
    overflow-x: scroll;
    margin-left: 2%;
}

.ToggleGroup2::-webkit-scrollbar {
    height: 0px;
}

.CustomInput2 input[type=radio] {
    display: none;
    
}

.CustomInput2 input[type=radio]:checked + label {
    background-color: #00051F;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid #00ABD5;
    background-image: radial-gradient(circle, transparent 50%, #00ABD5);
}

.CustomInput2 label {
    display: block;
    padding: 6px 8px;
    color: #fff;
    text-align: center;
}

.PageContainer-Page2 .ToggleGroup{
    margin-right:0%;
    overflow-x: scroll;
    margin-left: 2%;
}

.PageContainer-Page2 .ToggleGroup::-webkit-scrollbar {
    height: 0px;
}

.InfoContainer{
    align-self: center;
    justify-content: center;
    height: 100%;
    margin-right: 2%;
    border-radius: 100%;
    border: 1px solid #fff;
}

.InfoBtn{
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
